@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;

  --color-blue-base: #2c46b1;
  --color-blue-dark: #1f3291;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #c6c9d2;
  --color-gray-500: #6f727a;
  --color-gray-600: #4d5058;
  --color-gray-800: #1f2025;
  --color-danger: #b12c4d;
}

@layer base {
  body {
    min-width: 20rem;
    min-height: 100vh;
    margin: 0;
    background: #f4f4f5;
    color: var(--color-gray-800);
    font-family: var(--font-sans);
    font-synthesis: none;
  }

  button {
    cursor: pointer;
  }
}
